@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500;600;700&family=Work+Sans:wght@400;700&display=swap");

// COLORS
$yellow: #f4d04e;
$white: #fff;
$gray: #808080;
$black: #121212;

// RESET

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Figtree";
  background-color: $yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 40px;
  .card {
    background-color: $white;
    border-radius: 16px;
    padding: 32px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 18px;
    box-shadow: 10px 10px 0px 0px #000;
    @media screen and (max-width: 1024px) {
      width: 90%;
      margin-bottom: 80px;
    }
    &__img {
      @media screen and (max-width: 1024px) {
        width: 90%;
      }
      width: max-content;
      align-self: center;
      border-radius: 8px;
    }
    &__tag {
      background-color: $yellow;
      border-radius: 4px;
      font-size: 14px;
      padding: 6px 12px;
      width: fit-content;
      font-weight: 700;
      @media screen and (max-width: 1024px) {
        font-size: 12px;
      }
    }
    &__published {
      font-size: 14px;
      font-weight: 600;
      @media screen and (max-width: 1024px) {
        font-size: 12px;
      }
    }
    &__title {
      text-decoration: none;
      color: $black;
      font-size: 24px;
      font-weight: 700;
      @media screen and (max-width: 1024px) {
        font-size: 20px;
      }
    }
    &__resume {
      font-size: 16px;
      color: $gray;
      width: 330px;
      font-weight: 500;
      @media screen and (max-width: 1024px) {
        width: fit-content;
        font-size: 14px;
      }
    }
    &__author {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      width: fit-content;
      &--image {
        width: 32px;
      }
      &--name {
        font-size: 14px;
        font-weight: 600;
        color: $black;
      }
    }
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 16px 0;
    background-color: $black;
    color: $yellow;
    a {
      color: $white;
      &:hover {
        color: $gray;
      }
    }
  }
}
